<form class="login-form" [formGroup]="login">
    <input name="user" formControlName="user" placeholder="user"/>
    <span class="error" *ngIf="login.get('user').invalid">User required</span>

    <input name="password" formControlName="password" placeholder="password"/>
    <span class="error" *ngIf="login.get('password').invalid">Password required</span>

    <button class="submit-btn" (click)="submit()">Submit</button>
</form>

<div *ngIf="error" class="login-error">
    <span style="color: red">{{error}}</span>
</div>
