.login-header {
  @media (max-width: 1000px) {
    display: none;
  }

	@media (max-width: 1366px) {
		font-size: 12px;
		color: blue;
	}
}

.login-form {
  input {
    display: block;
    margin: 0.5rem 0;
  }

  .ng-invalid.ng-dirty {
    border: 1px solid red;
  }

	.login-error {
		color: red;
	}
}
